:root {
  --bg-color: #FFFFFF;
  --bg-square-color: #EEEEEE;
  --text-color: #131313;
  --p-text-color: #FFFFFF;
  --bc-color: #131313;
  --glowing-color: #70FF0F;
  --h1-font-size: 7vw;
  --text-font-size:1vw;
   --text-m-font-size: 3vw;
  --text-m-input-size: 3vw;
  --input-font-size:1.5vw;
  --text-input-size:1.8vw;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: var(--text-font-size);
  font: "Courier New", Courier, monospace;
  color: var(--text-color);
  background-color: var(--bg-color);
  background:linear-gradient(to right, var(--bg-square-color) , var(--bg-color));
}
li {
    float: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: var(--bc-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

p {
  padding: 5px;
  margine:0;
}

h1{
margin: 0;
}

.heading{
  font-size: var(--h1-font-size );
  text-align: center;
  width: 50vh;
  margin: auto;
}

.grid {
  max-width: 1200px;
  margin:auto;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: auto;
  display: -webkit-grid;
  -webkit-grid-columns: auto;
  -webkit-grid-rows: auto;
  grid-gap: 0.2vw;
  perspective: auto;
}

.grid div {
  text-align: center;
  padding: 5px;

}

.square {
  background-color: var(--bg-square-color);
  border: 2px solid var(--bg-color);
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 0.5s ease-in;
  -moz-transform-style: preserve-3d;
  -moz-transition: all 0.5s ease-in;
  -o-transform-style: preserve-3d;
  -o-transition: all 0.5s ease-in;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in;

}

input{
  width: 50vh;
  height: 4vh;
  font-size:  var(--text-input-size);
  background-color: var(--bg-square-color);
  border:solid 2px var(--bg-square-color);
  color: var(--text-color);
  text-align: center;
}

#one {
  grid-area: 1 / 1 / 2 / 2;
}

#two {
  grid-area: 1 / 2 / 2 / 3;
}

#three {
  grid-area: 1 / 3 / 2 / 4;
}

#four {
  grid-area: 1 / 4 / 2 / 5;
}

#five {
  grid-area: 2 / 1 / 3 / 2;
}

#six {
  grid-area: 2 / 2 / 3 / 3;
}

#seven {
  grid-area: 2 / 3 / 3 / 4;
}

#eight {
  grid-area: 2 / 4 / 3 / 5;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;
}

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.square#one:hover, .square#one.hover {
  transform: rotateY(180deg);
}

#two:hover, #two.hover {
  transform: rotateY(180deg);
}

#three:hover, #three.hover {
  transform: rotateY(180deg);
}

#four:hover, #four.hover {
  transform: rotateY(180deg);
}

#five:hover, #five.hover {
  transform: rotateY(180deg);
}

#six:hover, #six.hover {
  transform: rotateY(180deg);
}

#seven:hover, #seven.hover {
  transform: rotateY(180deg);
}

#eight:hover, #eight.hover {
  transform: rotateY(180deg);
}
footer{
  position: fixed;
  bottom: 0;
  color: var(--p-text-color);
  background-color:var(--bc-color);
  width:100%;
  padding: 0;
  margin:0;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  #three {
    grid-area: 2;
  }
  #four {
    grid-area: 2;
  }
  #five {
    grid-area: 3;
  }
  #six {
    grid-area: 3;
  }
  #seven {
    grid-area: 4;
  }
  #eight {
    grid-area: 4;
  }
  .heading {
    width: 100%;
  }
  body {
    font-size: var(--text-m-font-size);
  }
  input {
  font-size: var(--text-m-input-size);
  }
}
